@import url('https://fonts.googleapis.com/css?family=Aldrich|Suez+One');
 // font-family: 'Aldrich', sans-serif;
 // font-family: 'Suez One', serif;


 body {
   background-color: snow;
   font-family: 'Aldrich', sans-serif;
   font-size: 1em;
 }
