@import url('https://fonts.googleapis.com/css?family=Aldrich|Suez+One');
 // font-family: 'Aldrich', sans-serif;
 // font-family: 'Suez One', serif;

body {
  background-color: white;
  font-family: 'Aldrich', sans-serif;
  font-size: 1.5em;
}

.App {

}

th {
  font-family: 'Suez One', serif;
  font-size: 1.4em;
  font-weight: normal;
}


.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   //background-color: snow;
 }


#name {
  color: #ffc107;
  font-weight: bolder;
}

.container {
  width: 70%;
}
