@import url("https://fonts.googleapis.com/css?family=Aldrich|Suez+One");
body {
  background-color: snow;
  font-family: 'Aldrich', sans-serif;
  font-size: 1em; }

th {
  font-family: 'Suez One', serif;
  font-size: 1em;
  font-weight: normal; }

#name {
  color: #ffc107;
  font-weight: bolder; }
  #name img {
    margin-right: 1em; }

.container {
  width: 80%; }
